In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('ESPNData.csv')

In [3]:
df.rename(columns={'NO':'Not_Out'},inplace=True)
df.rename(columns={'HS':'Highest Score'},inplace=True)
df.rename(columns={'Ave':'Average'},inplace=True)
df.rename(columns={'BF':'Balls_Faced'},inplace=True)
df.rename(columns={'SR':'Strike_Rate'},inplace=True)
df.rename(columns={'Mat':'Matches'},inplace=True)

In [4]:
df

,Player,Span,Matches,Inns,Not_Out,Runs,Highest Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,YBK Jaiswal (IND),2023-2024,11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
62,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [5]:
df.isnull().any()

Player           False
Span             False
Matches          False
Inns             False
Not_Out          False
Runs             False
Highest Score    False
Average          False
Balls_Faced       True
Strike_Rate      False
100              False
50               False
0                False
4s               False
6s               False
dtype: bool

In [6]:
df[df['Balls_Faced'].isna()==1]

,Player,Span,Matches,Inns,Not_Out,Runs,Highest Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,0.0,15,19,6,258,2
14,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,0.0,15,14,1,107,11
55,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,0.0,5,6,3,51,0

In [7]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [8]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
58    False
59    False
60    False
61    False
62    False
Length: 63, dtype: bool

In [9]:
df[df['Player'].duplicated()==1]

Empty DataFrame
Columns: [Player, Span, Matches, Inns, Not_Out, Runs, Highest Score, Average, Balls_Faced, Strike_Rate, 100, 50, 0, 4s, 6s]
Index: []

In [10]:
print(df.columns)

Index(['Player', 'Span', 'Matches', 'Inns', 'Not_Out', 'Runs', 'Highest Score',
       'Average', 'Balls_Faced', 'Strike_Rate', '100', '50', '0', '4s', '6s'],
      dtype='object')

In [11]:
# Splitting up span into start and end date
df['Span'] = df['Span'].fillna('')  # Fill None/NaN values with an empty string
df['Start_Year'] = df['Span'].str.split('-').str[0]
df['End_Year'] = df['Span'].str.split('-').str[1]

In [12]:
df.drop(['Span'],axis=1,inplace=True)

In [13]:
df['Country'] = df['Player'].str.split('(').str[1].str.replace(')','')

df.head()

,Player,Matches,Inns,Not_Out,Runs,Highest Score,Average,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Start_Year,End_Year,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,AUS
1,YBK Jaiswal (IND),11,20,1,1217,214*,64.05,1698,71.67,3,7,1,139,32,2023,2024,IND
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI

In [14]:
df['Player'] = df['Player'].str.split('(').str[0]
df['Player']

0      DG Bradman
1     YBK Jaiswal
2        AC Voges
3      RG Pollock
4      GA Headley
          ...
58     KD Walters
59       GC Smith
60    WH Ponsford
61      SJ McCabe
62     DR Jardine
Name: Player, Length: 63, dtype: object

In [15]:
df.dtypes

Player            object
Matches            int64
Inns               int64
Not_Out            int64
Runs               int64
Highest Score     object
Average          float64
Balls_Faced       object
Strike_Rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
Start_Year        object
End_Year          object
Country           object
dtype: object

In [16]:
df['Start_Year'] = df['Start_Year'].astype('int32')
df['End_Year'] = df['End_Year'].astype('int32')
df.dtypes

Player            object
Matches            int64
Inns               int64
Not_Out            int64
Runs               int64
Highest Score     object
Average          float64
Balls_Faced       object
Strike_Rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
Start_Year         int32
End_Year           int32
Country           object
dtype: object

In [17]:
df['Player'] = df['Player'].astype('string')
df['Country'] = df['Country'].astype('string')
df.dtypes

Player           string[python]
Matches                   int64
Inns                      int64
Not_Out                   int64
Runs                      int64
Highest Score            object
Average                 float64
Balls_Faced              object
Strike_Rate             float64
100                       int64
50                        int64
0                         int64
4s                        int64
6s                        int64
Start_Year                int32
End_Year                  int32
Country          string[python]
dtype: object

In [18]:
df['Strike_Rate'] = df['Strike_Rate'].astype('float32')
df.dtypes

Player           string[python]
Matches                   int64
Inns                      int64
Not_Out                   int64
Runs                      int64
Highest Score            object
Average                 float64
Balls_Faced              object
Strike_Rate             float32
100                       int64
50                        int64
0                         int64
4s                        int64
6s                        int64
Start_Year                int32
End_Year                  int32
Country          string[python]
dtype: object

In [19]:
df['Highest Score'] = df['Highest Score'].str.split('*').str[0]

In [20]:
df['Highest Score'] = df['Highest Score'].astype(int)

In [21]:
df['Balls_Faced'] = df['Balls_Faced'].str.split('+').str[0]

In [22]:
df['Balls_Faced'].isnull().sum()

np.int64(3)

In [23]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [24]:
df['Balls_Faced'] = df['Balls_Faced'].astype(int)